 @model XamarinVisualStudio.Models.BlogData
<br />

@Html.BeginForm("SaveBlog","Save")
{
<span>Title : </span>@Html.TextBoxFor(Model => Model.BlogTitle)
<span>Enter the Text : </span>@Html.TextBoxFor(Model => Model.BlogText)
<input type="submit" >Submit</input>
}