 @model XamarinVisualStudio.Models.BlogData
<br />
<span>Title : </span>@Html.TextBoxFor(Model=>Model.BlogTitle)
<span>Enter the Text : </span>@Html.TextBoxFor(Model=>Model.BlogText)
@Html.BeginForm("SaveBlog","Save")
{
<input type="submit" >Submit</input>
}