@model XamarinVisualStudio.Models.Login

@{
	ViewBag.Title = "AuthorMainPage";
}

<h2>AuthorMainPage</h2>
Welcome @Html.Label(Model.UserName)
@Html.BeginForm("AuthorLogin", "Login")
{

<input type="submit" title="Click" />
}
@RenderBody()
